@using HomeAccounting.BusinessLogic.Services.Interfaces;
@model HomeAccounting.BusinessLogic.Dtos.ConsumptionDto;
@inject IConsumptionService consumptionService;

<h1>Balance Choice</h1>
<h4>Consumption</h4>
<form asp-controller="Balance"   method="get">

    <h6>Show the frequents type of consumptions for a given time,month and year</h6>
    <a href="@Url.Action("BalanceForType", "Consumption")" class="btn btn-success">Go</a>
    <h6>Show the member's frequent consumptions for a given time,month and year</h6>
    <a href="@Url.Action("BalanceForMember", "Consumption")" class="btn btn-success">Go</a>
   
    
</form>
<style>
    .btn-success {
        color: white;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 4px;
    }
</style>
